.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #05315D;
  border-bottom: 2px solid #003f6b;
  padding: 25px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 40px;
  width: 100%;
  
}

.device-name {
  font-size: 20px;
  color: #ffffff;
}

.app-header img {
height: 30px;
}

.logo-link {
  margin-right: 20px;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 8px;
  color: #ccc;
  margin-left: 80px;
  transition: ease-in-out 0.2s;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #d0d6ff;
  text-decoration: none;
  transition: color 0.2s;
  transition: ease-in-out 0.2s;
}

.breadcrumb-item:hover {
  color: #ffffff;
}

.breadcrumb-icon {
  color: #d0d6ff;
}

.breadcrumb-separator {
  color: #aaa;
}

.device-name {
  margin-left: auto;
  font-weight: bold;
  color: #ffffff;
}
.device-name {
  margin-left: auto;
  font-weight: bold;
  color: #ffffff;
}
